# Import Packages

In [0]:
import pandas as pd

# Core

In this part, we will review the result from the notebook " Stock Price Movement Prediction - Best variation ". after we have the result, we will check the consistency of the variation. is the variation change overtime, consitent, or dominated by a variation.

In [0]:
# determine the Stock we want
stock = 'HMSP.JK'

# dummy Dataframe to story the result
hoho = pd.DataFrame()
# iterate the Timestep
for l in [20,40,60]:
    # iterate the Timegap
    for k in [1,7,14]:
        # iterate the Model
        for j in ['model 1','model 2','model 3','model 4']:
            
            hihi = pd.DataFrame()
            hehe = pd.DataFrame()
            for i in [2009,2010,2011,2012,2013,2014,2015]:
                try:
                    # directory might different
                    haha = pd.read_csv('Hasil/Hasil_potong_potong/timestep{}_timegap{}_{}_{}_periode{}{}.csv'.format(l,k,j,stock,str(i),str(i+4)))[['accuracy','val_accuracy']].tail(10).mean()
                    hehe = pd.concat([hehe,haha], axis = 1)
                except:
                    print('data {} {} {} {} is not availale'.format(l,j,k,i))
            hihi = pd.concat([hihi,hehe], axis = 1)
            hihi.columns = ['2009-2013','2010-2014','2011-2015','2012-2016','2013-2017','2014-2018','2015-2019']
            hihi['timestep'] = l
            hihi['timegap'] = k
            hihi['model'] =j
            hihi = hihi.reset_index()

            hoho = pd.concat([hoho,hihi], axis = 0)
hoho = hoho.reset_index()
hoho = hoho[['index','timestep','timegap','model','2009-2013','2010-2014','2011-2015','2012-2016','2013-2017','2014-2018','2015-2019']]

In [5]:
recap = []
print('--------------{}-------------'.format(stock))
for i in ['2009-2013','2010-2014','2011-2015','2012-2016','2013-2017','2014-2018','2015-2019']:
    hoho_val = hoho[hoho['index'] == 'val_accuracy' ]
    recap.append([i] + hoho_val[hoho_val[i]==hoho_val[i].max()][['timestep','timegap','model',i]].values[0].tolist())
hasil = pd.DataFrame(recap)
hasil.columns = ['tahun','timestep','timegap','model','accuracy']
hasil

--------------HMSP.JK-------------

       tahun  timestep  timegap    model  accuracy
0  2009-2013        40       14  model 3  0.833607
1  2010-2014        60       14  model 3  0.724590
2  2011-2015        60       14  model 3  0.811837
3  2012-2016        60       14  model 3  0.666667
4  2013-2017        60       14  model 3  0.693701
5  2014-2018        60       14  model 3  0.776245
6  2015-2019        60       14  model 2  0.683721